@define-color background #282828;
@define-color text #ebdbb2;
@define-color hidden #928374;
@define-color color1 #b16286;
@define-color color2 #d79921;
@define-color color3 #689d6a;
@define-color urgent #fb4934;
