@define-color background #1e1e2e;
@define-color text #eff1f5;
@define-color hidden #9399b2;
@define-color color1 #c6a0f6;
@define-color color2 #f5a97f;
@define-color color3 #8bd5ca;
@define-color color4 #b7bdf8;
@define-color color5 #f0c6c6; 
@define-color urgent #f38ba8;
