@import "./colors.css";

* {
    background-color: transparent;
    color: @on_surface;

    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrains Mono Nerd";
    font-size: 16px;
}

window#waybar {
    background-color: @background_transparent_full;
}

.modules-left {
    margin: 8px 0px 0px 10px;
    background-color: @inverse_primary;
    border-radius: 10px;
    padding: 4px;
}

.modules-right {
    margin: 8px 10px 0px 0px;
    background-color: @inverse_primary;
    border-radius: 10px;
    padding: 4px;
}

.modules-center{
    margin-top: 8px;
    background-color: @inverse_primary;
    border-radius: 10px;
    padding: 4px;
}

#workspaces button {
    all: initial;
    padding: 0 6px;
    margin: 0 1.5px;
    min-width: 9px;
}

#workspaces button.empty {
    opacity: 0.5;
}

#bluetooth,
#pulseaudio,
#network,
#clock,
#battery,
#custom-exit {
    min-width: 12px;
    margin: 0 8px;
    font-size: 16px;
}

tooltip {
    background-color: alpha(@background_transparent, 0.9);
    padding: 20px;
    margin: 0px;
}

tooltip label {
    color: @on_background;
}
