@import "colors.css";

* {
  font-size: 16px;
  font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF";
  min-width: 8px;
  min-height: 0px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 8px;
  border: 2px solid @primary;
  border: none;
  background: alpha(@background, 0.7);
  color: lighter(@primary);
}

menu,
tooltip {
  border-radius: 8px;
  padding: 2px;
  border: 1px solid lighter(@primary);
  background: alpha(@background, 0.6);
  color: lighter(@primary);
}

menu label,
tooltip label {
  font-size: 14px;
  color: lighter(@primary);
}

#tray>.needs-attention {
  animation-name: blink-active;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.modules-right {
  margin: 0px 6px 6px 6px;
  border-radius: 4px;
  color: lighter(@primary);
}

.modules-left {
  margin: 6px;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-radius: 4px;
  color: lighter(@primary);
}

#workspaces {
  margin: 0px 2px;
  padding: 4px 0 0 0;
  border-radius: 8px;
}

#workspaces button {
  transition-property: background-color;
  transition-duration: 0.5s;
  color: @foreground;
  background: transparent;
  border-radius: 4px;
  color: alpha(@on_background, 1.0);
  margin: 0 0 8px 0;
}

#workspaces button.urgent {
  font-weight: bold;
  color: @on_background;
}

#workspaces button.active {
  background: alpha(@primary, 0.4);
  color: alpha(@on_background, 1.0);
  border-radius: 4px;
}


#workspaces button.empty {
  color: alpha(@on_background, 0.3);
}

#tray,
#backlight,
#pulseaudio,
#clock,
#battery {
  border-radius: 4px;
  margin: 6px 2px;
  padding: 4px 2px;
  background: alpha(darker(@primary), 0.3);
}

#tray {
  padding: 4px 0px;
}

#clock {
  font-weight: bold;
}

#battery {
  border-radius: 8px;
  padding: 4px 0px;
}

#battery.discharging.warning {
  animation-name: blink-yellow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.discharging.critical {
  animation-name: blink-red;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink-active {
  to {
    background-color: @primary;
    color: @on_background;
  }
}

@keyframes blink-red {
  to {
    background-color: #c64d4f;
    color: @on_background;
  }
}

@keyframes blink-yellow {
  to {
    background-color: #cf9022;
    color: @on_background;
  }
}
